.idea/
ECE454_Distributed.iml
assignment0/.vscode/
assignment1/.idea/
assignment1/a1.tar.gz
assignment1/assignment1.iml
assignment1/out/
assignment2/HadoopWC$IntSumReducer.class
assignment2/HadoopWC$TokenizerMapper.class
assignment2/HadoopWC.jar
assignment2/Task1$$anonfun$3$$anonfun$1.class
assignment2/Task1$$anonfun$3$$anonfun$2.class
assignment2/Task1$$anonfun$3$$anonfun$4.class
assignment2/Task1$$anonfun$3.class
assignment2/Task1$$anonfun$5.class
assignment2/Task1$.class
assignment2/Task1.class
assignment2/Task1.jar
assignment2/Task2$$anonfun$1.class
assignment2/Task2$$anonfun$2$$anonfun$apply$1.class
assignment2/Task2$$anonfun$2.class
assignment2/Task2$.class
assignment2/Task2.class
assignment2/Task2.jar
assignment2/Task4$$anonfun$1.class
assignment2/Task4$$anonfun$2$$anonfun$apply$1$$anonfun$3.class
assignment2/Task4$$anonfun$2$$anonfun$apply$1.class
assignment2/Task4$$anonfun$2.class
assignment2/Task4$.class
assignment2/Task4.class
assignment2/Task4.jar
assignment2/output_hadoop/
assignment2/output_spark/
out/

